body {
  font: 14px "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.app-section {
	border: 2px solid black;
	border-radius: 4px;
	margin-bottom: 2%;
	padding: 1%;
}

.app-field {
	width: 20px;
}